### Import libraries

In [52]:
import pandas as pd # data manipulation librabry
import numpy as np # numerical computation library

# Display up to 120 columns of a dataframe
pd.set_option('display.max_columns', 120)

### Read Data

In [44]:
match_info = pd.read_csv('Permutations/Data/Match Info.csv')
standings = pd.read_csv('Permutations/Data/Standings.csv')

### Get first 5 entries of match info

In [46]:
match_info.head()

,competition_id,match_id,match_date,match_name,result,fifa_ranking,cat_code,team_cat,venue
27,288898,143154,2024-10-16,New Zealand - Nigeria,1-4,yes,FU17WWC,U17,Estadio Cibao FC
28,288898,143173,2024-10-17,Brazil - Zambia,1-0,yes,FU17WWC,U17,Estadio Olímpico Félix Sánchez
29,288898,143169,2024-10-20,England - Mexico,4-2,yes,FU17WWC,U17,Estadio Cibao FC
30,288898,143182,2024-10-30,W25 - W27,NaN,yes,FU17WWC,U17,Estadio Cibao FC
31,288898,143162,2024-10-19,Spain - Korea Republic,5-0,yes,FU17WWC,U17,Estadio Olímpico Félix Sánchez

### Get first 5 entries of standings

In [51]:
standings.head()

,competition_structure_id,competition_structure_name,enqueued_time_utc,is_live,is_most_recent,qualification_status,ranking,statistic_type,team_id,team_name_short,value,fdh_inserttimestamp,fdh_updatetimestamp,fdh_deletetimestamp,fdh_fullrecordhash
0,288900,Group A,2024-10-23 01:02:23.000 Z,False,True,Eliminated,4,GoalsAgainst,1915093,New Zealand,9,2024-10-17 03:19:42.866 Z,2024-10-23 03:17:22.470 Z,NaN,ba69e4240ad77f3fec03ba74e73b3dbe
1,288900,Group A,2024-10-23 01:02:23.000 Z,False,True,Eliminated,4,GoalsDifference,1915093,New Zealand,-7,2024-10-17 03:19:42.866 Z,2024-10-23 03:17:22.470 Z,NaN,9cf4a5e8fc8f8b516a781be82752114b
2,288900,Group A,2024-10-23 01:02:23.000 Z,False,True,Eliminated,4,GoalsFor,1915093,New Zealand,2,2024-10-17 03:19:42.866 Z,2024-10-23 03:17:22.470 Z,NaN,075d3a49e497193a017f95f8165872e8
3,288900,Group A,2024-10-23 01:02:23.000 Z,False,True,Eliminated,4,MatchesDrawn,1915093,New Zealand,1,2024-10-17 03:19:42.866 Z,2024-10-23 03:17:22.470 Z,NaN,b782665780405906caaf8e69a20cca62
4,288900,Group A,2024-10-23 01:02:23.000 Z,False,True,Eliminated,4,MatchesLost,1915093,New Zealand,2,2024-10-17 03:19:42.866 Z,2024-10-23 03:17:22.470 Z,NaN,075d3a49e497193a017f95f8165872e8

### Filter Group D only

In [71]:
standings[standings['competition_structure_name'] == 'Group D']

,competition_structure_id,competition_structure_name,enqueued_time_utc,is_live,is_most_recent,qualification_status,ranking,statistic_type,team_id,team_name_short,value,fdh_inserttimestamp,fdh_updatetimestamp,fdh_deletetimestamp,fdh_fullrecordhash
108,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,GoalsAgainst,1914191,Japan,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,2d71178d39317333aaa23878c31b7193
109,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,GoalsDifference,1914191,Japan,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,2d71178d39317333aaa23878c31b7193
110,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,GoalsFor,1914191,Japan,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,c08ccb66f306cfb01cf730184da2004e
111,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,MatchesDrawn,1914191,Japan,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,2d71178d39317333aaa23878c31b7193
112,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,MatchesLost,1914191,Japan,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,7333aaabf19e7e32795e90b17a38e8a8
113,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,MatchesPlayed,1914191,Japan,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,c08ccb66f306cfb01cf730184da2004e
114,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,MatchesWon,1914191,Japan,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,2d71178d39317333aaa23878c31b7193
115,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,Points,1914191,Japan,4,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,f29c6668fdd7532edc6e1942e1b28cb2
116,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,2,TeamConductScore,1914191,Japan,-1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,883541503acdaf7764452d5400c6deaf
117,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,GoalsAgainst,1914796,Poland,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,3a97104bb0f031cd2939711aa7d56119
118,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,GoalsDifference,1914796,Poland,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,4cc82ee82110b8f4630bd36fce44807f
119,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,GoalsFor,1914796,Poland,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,4cc82ee82110b8f4630bd36fce44807f
120,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,MatchesDrawn,1914796,Poland,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,a21e30a9989a101a94c8b441f3fcc228
121,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,MatchesLost,1914796,Poland,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,3a97104bb0f031cd2939711aa7d56119
122,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,MatchesPlayed,1914796,Poland,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,4cc82ee82110b8f4630bd36fce44807f
123,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,MatchesWon,1914796,Poland,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,a21e30a9989a101a94c8b441f3fcc228
124,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,Points,1914796,Poland,4,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,9205d0c9e8351314e2f92048e2090fef
125,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,1,TeamConductScore,1914796,Poland,-1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,32f3a7a016f384781696e736c0dbf12b
126,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,GoalsAgainst,1915201,Brazil,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,49e7f2a0852681257c91375b23ccbf83
127,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,GoalsDifference,1915201,Brazil,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,ff1082d473f9fa56d5bfecb5b4252196
128,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,GoalsFor,1915201,Brazil,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,49e7f2a0852681257c91375b23ccbf83
129,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,MatchesDrawn,1915201,Brazil,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,ff1082d473f9fa56d5bfecb5b4252196
130,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,MatchesLost,1915201,Brazil,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,274c0ca1c3a10ed534b119d5c1c18674
131,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,MatchesPlayed,1915201,Brazil,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,49e7f2a0852681257c91375b23ccbf83
132,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,MatchesWon,1915201,Brazil,1,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,274c0ca1c3a10ed534b119d5c1c18674
133,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,Points,1915201,Brazil,3,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,347c94c40e4e80cdd474c85ae53a2205
134,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,CouldQualify,3,TeamConductScore,1915201,Brazil,-4,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,d30ee6fa6d289af63edc7326f19ccdb6
135,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,GoalsAgainst,1915239,Zambia,3,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,b97f6a56bd39ce92b33c6ea8e4eb830e
136,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,GoalsDifference,1915239,Zambia,-3,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,804ad64d8750ac4c429914fb1771b869
137,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,GoalsFor,1915239,Zambia,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,862d718e091eca23d264d34dff86d9af
138,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,MatchesDrawn,1915239,Zambia,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,862d718e091eca23d264d34dff86d9af
139,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,MatchesLost,1915239,Zambia,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,c3850ff48a4d60d4f7c54b0b66da5934
140,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,MatchesPlayed,1915239,Zambia,2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,c3850ff48a4d60d4f7c54b0b66da5934
141,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,MatchesWon,1915239,Zambia,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,862d718e091eca23d264d34dff86d9af
142,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,Points,1915239,Zambia,0,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,862d718e091eca23d264d34dff86d9af
143,288902,Group D,2024-10-21 01:01:25.000 Z,False,True,Eliminated,4,TeamConductScore,1915239,Zambia,-2,2024-10-18 03:20:42.031 Z,2024-10-21 03:24:59.082 Z,NaN,2900eccbf740ae8de8fe49dd2b81e52d

### Filter only necessary columns

In [93]:
standings[
(standings['competition_structure_name'] == 'Group D')][['competition_structure_name','team_name_short','qualification_status','ranking','statistic_type','value']]
# Each team has 9 statistic types that can be made into a subtable

,competition_structure_name,team_name_short,qualification_status,ranking,statistic_type,value
108,Group D,Japan,CouldQualify,2,GoalsAgainst,1
109,Group D,Japan,CouldQualify,2,GoalsDifference,1
110,Group D,Japan,CouldQualify,2,GoalsFor,2
111,Group D,Japan,CouldQualify,2,MatchesDrawn,1
112,Group D,Japan,CouldQualify,2,MatchesLost,0
113,Group D,Japan,CouldQualify,2,MatchesPlayed,2
114,Group D,Japan,CouldQualify,2,MatchesWon,1
115,Group D,Japan,CouldQualify,2,Points,4
116,Group D,Japan,CouldQualify,2,TeamConductScore,-1
117,Group D,Poland,CouldQualify,1,GoalsAgainst,0
118,Group D,Poland,CouldQualify,1,GoalsDifference,2
119,Group D,Poland,CouldQualify,1,GoalsFor,2
120,Group D,Poland,CouldQualify,1,MatchesDrawn,1
121,Group D,Poland,CouldQualify,1,MatchesLost,0
122,Group D,Poland,CouldQualify,1,MatchesPlayed,2
123,Group D,Poland,CouldQualify,1,MatchesWon,1
124,Group D,Poland,CouldQualify,1,Points,4
125,Group D,Poland,CouldQualify,1,TeamConductScore,-1
126,Group D,Brazil,CouldQualify,3,GoalsAgainst,2
127,Group D,Brazil,CouldQualify,3,GoalsDifference,0
128,Group D,Brazil,CouldQualify,3,GoalsFor,2
129,Group D,Brazil,CouldQualify,3,MatchesDrawn,0
130,Group D,Brazil,CouldQualify,3,MatchesLost,1
131,Group D,Brazil,CouldQualify,3,MatchesPlayed,2
132,Group D,Brazil,CouldQualify,3,MatchesWon,1
133,Group D,Brazil,CouldQualify,3,Points,3
134,Group D,Brazil,CouldQualify,3,TeamConductScore,-4
135,Group D,Zambia,Eliminated,4,GoalsAgainst,3
136,Group D,Zambia,Eliminated,4,GoalsDifference,-3
137,Group D,Zambia,Eliminated,4,GoalsFor,0
138,Group D,Zambia,Eliminated,4,MatchesDrawn,0
139,Group D,Zambia,Eliminated,4,MatchesLost,2
140,Group D,Zambia,Eliminated,4,MatchesPlayed,2
141,Group D,Zambia,Eliminated,4,MatchesWon,0
142,Group D,Zambia,Eliminated,4,Points,0
143,Group D,Zambia,Eliminated,4,TeamConductScore,-2

### Filter only necessary columns + drill down to only points 'statistic_type'

In [92]:
standings[
(standings['competition_structure_name'] == 'Group D') & (standings['statistic_type'] == 'Points')][['competition_structure_name','team_name_short','qualification_status','ranking','statistic_type','value']]
# Each team has 9 statistic types that can be made into a subtable

,competition_structure_name,team_name_short,qualification_status,ranking,statistic_type,value
115,Group D,Japan,CouldQualify,2,Points,4
124,Group D,Poland,CouldQualify,1,Points,4
133,Group D,Brazil,CouldQualify,3,Points,3
142,Group D,Zambia,Eliminated,4,Points,0